*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'League Spartan', sans-serif;
}
body{
    width: 100%;
}
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
  }
  
h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
  }
  
h4 {
    font-size: 20px;
    color: #222;
  }
  
h6 {
    font-weight: 700;
    font-size: 12px;
  }
  
p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
  }
html{
    scroll-behavior: smooth;
}

/* Start Header */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #E3E6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  .navbar{
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      gap: 40px;
      padding-right: 30px;
      li a {
          text-decoration: none;
          font-size: 20px;
          font-weight: 600;
          color: #1a1a1a;
          position: relative; 
          transition: color 0.3s ease;
        
          /* Adding the pseudo-element for the border effect */
          &:not(:has(i))::after {
            content: "";
            position: absolute;
            height: 2px;
            width: 0; 
            bottom: -5px; 
            left: 0;
            background-color: #088178;
            transition: width 0.3s ease; 
          }
        
          /* Hover effect to show border and change text color */
          &:hover::after {
            width: 50%; /* Expand the width to cover half of the text */
          }
        
          &:hover {
            color: #088178; /* Change the text color on hover */
          }
          
        }
        li a.active{
          color: #088178;
      
          &::after{
              width: 50%;
          }
      }
      .close{
        display: none;
      }
    .cart{
      position: relative;
      .cart-count{
        position: absolute;
        right:  -10px;
        bottom: -13px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dcdde6;
        font-size: 12px;
        padding: 3px 6px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        font-weight: bold;
        line-height: 1;
}
    }

  }
  .mobile{
    display: none;


    .cart{
      position: relative;
      z-index: 1;
      .cart-count{
        position: absolute;
        right:  -5px;
        bottom: -10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #dcdde6;
        font-size: 12px;
        padding: 3px 6px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        font-weight: bold;
        
        
}
  }
}
}
@media(max-width:799px){

.header{
  padding: 20px 40px;
  .navbar{
    z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  right:  -300px;
  top:0;
  height: 100vh;
  width: 300px;
  background-color: #E3E6f3;
  padding: 60px 0 400px 10px;
  transition: right .5s ease-in-out;

  .close{
    display: block;
    color: #1a1a1a;
    transition: transform 0.5s ease;
    &:hover{
      transform: rotate(180deg);
    }
  }
}
.navbar.active{
  right: 0;
  box-shadow:0 40px 60px ;
}

.mobile{
display: block;
.fa-solid fa-x{
  position: fixed;
}
i{
  padding-right: 10px;
  color: #1a1a1a;
  transition: .3s ease;
  &:hover{
    color: #088178;
  }
}
}
}
}
/* End Header */

.custom-toast-position {
  top: 9vh !important; /* Adjust as needed */
  right: 50px; /* Adjust as needed */
  position: fixed;
  z-index: 9999;
}

@media (max-width: 768px) {
  .swal2-container {
    width: 75% !important; /* Adjust width to fit smaller screens */
  }

  .swal2-title {
    font-size: 13px !important; /* Smaller font size for title */
  }

  .swal2-content {
    font-size: 12px !important; /* Smaller font size for content */
  }

  .custom-toast-position {
    top: 9vh !important; /* Adjust position */
    right: 10px !important; /* Adjust position */
  }
}

/* Start Hero */
.hero{
    background-image: url('../img/about/banner.png');
    height:30vh;
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    h2 {
        font-size: 60px;
        color: white;
        font-weight: bold;
    }
    p{
      color: #ffffffb5;
        font-size: 20px;
    }
    
    
}
@media (max-width:768px) {
  .hero{
    background-position: 60% center;
    padding-left: 20px;
    h2 {
      font-size: 40px; /* Smaller font size for mobile */
    }
  
    p {
      font-size: 18px;
    }
  
    
    
  }
  
}





.products {
  overflow-x: auto;
    table {
        justify-content: center;
        border-top: 1px solid #818ea0;
        width: 90%;
        margin: 30px auto;
        border-collapse: collapse;

        thead {
            width: 100%;
            
            tr {
                width: 100%;
                

                
                td {
                  font-weight: bold;
                  font-size: 20px;
                    padding: 30px 30px;
                    border-bottom: 1px solid #818ea0; /* Move border-bottom here */
                    width: 20%;
                    
                }
            }
        }

        tbody {
            td {
                padding: 30px 30px;

                i{
                    cursor: pointer;
                    transition: .3s ease;
                    &:hover{
                        color: #088178;
                    }
                }
                
                input{
                    height: 40px;
                    width: 80px;
                    font-size: 20px;
                    text-align: center;

                }

                img {
                    height: 50px;
                }
            }
        }
    }
}



.Copoun{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: 100px auto;
  align-items: center;


  .apply{
    h2{
      font-size: 25px;
      font-weight: bold;
    }
    input{
      height: 40px;
      width: 300px;
      font-size: 15px;
      padding-left:10px;
    }
    button{
      
      height: 40px;
      width: 80px;
      font-size: 25px;
      background-color: #088178;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      transition: .3s ease;
      &:hover{
        color: black;
      }
    }
  }

  .card{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    h2{
      font-size: 30px;
      font-weight: bold;
    }
    table{
      border-collapse: collapse;
      thead{
      td{
        font-weight: bold;
                  font-size: 20px;
                    padding: 30px 10px;
                    border-bottom: 1px solid #818ea0; /* Move border-bottom here */
                    width: 20%;
      }
      
    }
    tbody{
      td{
        padding: 30px 10px;
        width: 20%;
      }
    }
    }
    button{
      height: 40px;
      width: 200px;
      text-align: center;
      font-size: 20px;
      background-color: #088178;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      transition: .3s ease;
      &:hover{
        color: black;
      }
    }
  }


}
@media (max-width:1024px){
  .Copoun{
    .apply{
      margin-bottom: 100px;
      button{
        margin-top: 20px;
      }
    }
  }
}



  footer{
  

    position: relative;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    .col{
      padding: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      span{
        font-size: 20px;
        font-weight: bold;
  
      }
    }
    .col-1{
      span{
        font-weight: 500;
      }
      .font{
        margin: 10px 0;
        i{
          margin-right:10px ;
          font-size: 25px;
          cursor: pointer;
          transition: .3s ease;
          &:hover{
            color: #088178;
          }
        }
      }
  
    }
  
  
  
  
  
    .col-4{
      button{
  
        outline: none;
        cursor: pointer;
        border: 2px solid #088178;
        border-radius: 5px;
        transition: .3s ease;
        &:hover{
          box-shadow: 20px 20px 15px rgba(0, 0, 0, .1);
        }
            }
    }
    .created{
      text-align: center;
      background-color: #E3E6f3;
      margin-top: auto;
     span{
      color: #041e42;
      transition: .3s ease;
      cursor: pointer;
      &:hover{
        color: #088178;
      }
     }
  
    }
  }
  @media (max-width:1024px){
    footer{
      .col > *{
        padding:  30px 0;
  
      }
    }
  }
  